ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

body
{
  background-color: rgb(222,224,222); 
}
pre {
    background: #666666;
    border: 1px solid #262626;
    border-left: 5px solid #00778c;
    color: #EEEEEE;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 1em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}